{% extends 'AcceuilAdmin.html.twig' %}

{% block body %}

    <h1>Tous les paiements </h1>

    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">  <h5 style="color:{{'#875e84'}}">  la somme total dans la caisse  </h5>
        <h1 style="color:{{'#875e84'}}"> {{ total }}</h1></div>



    {% for message in app.flashes('notice') %}
        <div class="alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <input type="text" id="search" class="form-control" placeholder="Cherchez paiement ..." style="">
    <table  class="table table-bordered"  id="tableac">
        <thead>
        <tr>

            <th style="color:#875e84;" scope="col">Type</th>
            <th style="color:#875e84;" scope="col">Total</th>
            <th style="color:#875e84;" scope="col">Date</th>
            <th style="color:#875e84;" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                {#    <td><a href="{{ path('paiement_show', { 'id': paiement.id }) }}"  style="color:#b08ead;">{{ paiement.id }}</a></td>
                   <td>{{ paiement.idC }}</td> #}


                <td style="color:{{'#3f4c5a'}}">{{ paiement.type }}</td>
                <td style="color:{{'#3f4c5a'}}">{{ paiement.total }}</td>
                <td style="color:{{'#3f4c5a'}}">{% if paiement.date %}{{ paiement.date|date('Y-m-d') }}{% endif %}</td>
                <td style="color:{{'#3f4c5a'}}">
                    <ul>
                        <li>
                            <a href="{{ path('paiement_show', { 'id': paiement.id }) }}" style="color:#b08ead;">voir</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paiement_new') }}">Create a new paiement</a>
        </li>
    </ul>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>


{% endblock %}
