{% extends 'takwa.html.twig' %}
{% block title %}Ma carte de fidèlité{% endblock %}

{% block body %}
    <h1>Ma carte fidèlité</h1>

    <table class="table">
        <thead>
            <tr>

                <th style="color:#875e84;" scope="col">Nombre points</th>
                <th style="color:#875e84;" scope="col">Credit</th>
                <th style="color:#875e84;" scope="col">Benefice</th>
          {#     <th style="color:#875e84;" scope="col">Status</th> #}
                <th style="color:#875e84;" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cartefidelite in cartefidelites %}
            <tr>

                <td>{{ cartefidelite.nbpoint }}</td>
                <td>{{ cartefidelite.credit }}</td>
                <td>{{ cartefidelite.benefice }}</td>
            {#    <td>{{ cartefidelite.status }}</td> #}
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('cartefidelite_transformer', { 'idC': cartefidelite.idC }) }}" style="color:#b08ead;">transformer mes points</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cartefidelite_new') }}">Create a new cartefidelite</a>
        </li>
    </ul>
{% endblock %}
