{% extends '//base1.html.twig' %}
{% block  body  %}
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>espace reclamation</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <div class="container" style="margin-top:100px;">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Reclamation</h4>
                    <p class="card-category">Ajouter une reclamation</p>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Nom </label>
                                {{ form_widget(form.nomDemande,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="widget_title">etat </label>
                                {{ form_widget(form.prenomDemande,{ 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">cin</label>
                                {{ form_widget(form.numTelDemande,{ 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">description</label>
                                {{ form_widget(form.postDemande,{ 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">post</label>
                                {{ form_widget(form.cinDemande,{ 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>







                    <button type="submit" class="genric-btn primary circle">Ajouter</button>
                    <div class="clearfix"></div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="blog_details">
        <a class="d-inline-block" href="single-blog.html">
            <h2>si vous voulez pas passez une reclamations</h2>
            <h2> vous pouvez laisser une commentaire sur notre page</h2>

        </a>

    </div>
    <!-- Post Thumb -->
    <div class="blog-post-thumb mb-30">
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2"></script>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2"></script>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2"></script>


        <!-- Post Title -->
        <!-- Post Meta -->
        <div class="post-meta d-flex justify-content-between">

            <!-- Comments -->

        </div>
        <!-- bg gradients -->
        <div class="bg-gradients mb-30 w-25"></div>
        <div class="fb-comments" data-
             href="http://www.amaranthe.info/2017/03/07ins%C3%A9rer-des-commentaire-facebook-sur-votre-site/" data-width="768" data-numposts="99"></div>
        <a href="#" class="read-more-btn">Read more</a>
    </div>


    </div>



{% endblock %}
