<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pillloMart</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{asset('css/animate.css')}}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{asset('css/all.css')}}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{{asset('css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('css/themify-icons.css')}}">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{asset('css/slick.css')}}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
</head>

<body>
<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"> <img src="{{asset('img/logo.png')}}"  alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            {% if is_granted('ROLE_USER') %}

                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">about</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        product
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="product_list.html"> product list</a>
                                        <a class="dropdown-item" href="single-product.html">product details</a>

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Restaurant
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="{{ path('abonneresto_new') }}">
                                            Reserver

                                        </a>
                                        <a class="dropdown-item" href="{{ path('show_reservations') }}">Mes reservations</a>
                                        <a class="dropdown-item" href="{{ path('paiement_new') }}">Paiement</a>
                                        <a class="dropdown-item" href="{{ path('plats_index') }} "> Plats</a>

                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>
                            {% else %}

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="hearer_icon d-flex align-items-center">
                        <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <a href="cart.html">
                            <i class="flaticon-shopping-cart-black-shape"></i>
                        </a>
                        <!-- <div class="dropdown cart">
                            <a class="dropdown-toggle" href="cart" id="navbarDropdown3" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-shopping-cart-black-shape"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="single_product">

                                </div>
                            </div>
                        </div> -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container ">
            <form class="d-flex justify-content-between search-inner">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="ti-close" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>
<!-- Header part end-->

<!-- breadcrumb part start-->
{% block barre %}

    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>{% block title %}Les Plats{% endblock %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.rateyo.min.js') }}"></script>
<h1>Plats </h1>

<table class="table" id="tableac">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Note</th>
        <th>Prix</th>
        <th>Details</th>
        <th align ="center">Vote</th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for plat in plats %}
        <tr>
            <td><a href="{{ path('plats_show', { 'id': plat.id }) }}">{{ plat.id }}</a></td>
            <td>{{ plat.nom }}</td>
            <td>{{ plat.note }}</td>
            <td>{{ plat.prix }}</td>
            <td>{{ plat.details }}</td>
            <td>
                <div class="rateyo"  id="rate" onclick="saveData()"></div>



                <script>

                    $(function () {


                        var rating = 1.6;

                        $(".counter").text(rating);

                        $("#rateYo1").on("rateyo.init", function () { console.log("rateyo.init"); });

                        $("#rateYo1").rateYo({
                            rating: rating,
                            numStars: 5,
                            precision: 2,
                            starWidth: "64px",
                            spacing: "5px",
                            rtl: true,
                            multiColor: {

                                startColor: "#000000",
                                endColor  : "#ffffff"
                            },
                            onInit: function () {

                                console.log("On Init");
                            },
                            onSet: function () {

                                console.log("On Set");
                            }
                        }).on("rateyo.set", function (e,data) { console.log("rateyo.set"); })
                            .on("rateyo.change", function () { console.log("rateyo.change"); });

                        $(".rateyo").rateYo()
                            .on("rateyo.set", function (e, data) {
                                //alert("The rating is set to " + data.rating + "!");

                            });

                        $(".rateyo-readonly-widg").rateYo({

                            rating: rating,
                            numStars: 5,
                            precision: 2,
                            minValue: 1,
                            maxValue: 5
                        }).on("rateyo.change", function (e, data) {

                            console.log(data.rating);
                        });
                    });
                    function saveData() {

                        var rate= $('#rate').val();


                        var a={{ plat.id }};

                        $.ajax({
                            type: "POST",
                            url: "{{ path('plats_rating') }}",
                            data: {'ratee': rate,'aa': a},
                            success: function (data ) {
                                console.log(data);
                            }

                        });



                    }

                </script>
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('plats_show', { 'id': plat.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('plats_edit', { 'id': plat.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('plats_new') }}">Create a new plat</a>
    </li>
</ul>



<!--::footer_part start::-->
<footer class="footer_part">
    <div class="footer_iner section_bg">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-8">
                    <div class="footer_menu">
                        <div class="footer_logo">
                            <a href="index.html"><img src="{{asset('img/logo.png')}}" alt="#" ></a>
                        </div>
                        <div class="footer_menu_item">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                            <a href="product_list.html">Products</a>
                            <a href="#">Pages</a>
                            <a href="blog.html">Blog</a>
                            <a href="contact.html">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="social_icon">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright_part">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                        <div class="copyright_link">
                            <a href="#">Turms & Conditions</a>
                            <a href="#">FAQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->


</body>

</html>